body {
  margin: 0;
}

header,
section {
  height: 100vh;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background: black;
  color: white;
}

/* Ceci est un commentaire */
/*# sourceMappingURL=style.css.map */